
* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  /* reference: https://www.w3schools.com/jsref/prop_style_backgroundimage.asp */
  /* background-image:url('../firstroom.png'); */
  /* height: 100%; */
  /* now the background image is above the color change in .css, so we need to use another way of background */
  /* Another way is to not mention image or color but directly use background */
  background:black
  /* Center and scale the image nicely */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}
#p5canvas {
  display: block;
  z-index:101
} 
h1{
  margin:0px;
  color:white;
}
/* reference: https://www.runoob.com/css/css-website-layout.html */
.header {
  padding: 20px;
  /* color:white */
  text-align:center;
}
.column {
  float: left;
  padding: 5px;
}
.column.side {
  width: 10%;
  /* vertical-align:middle;
  display:flex; */
}
.column.middle {
  width: 80%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  text-align: center;
  padding: 10px;
}
/* #lightt{
  vertical-align: middle;
  display:flex;
  /* font-size:50px;
  box-shadow: 10px 6px 7px white; */







  /* body{
    /* border-style: dashed;
    border-color: green;
    border-width: 4px; */

    /* border: solid green 2px; */
    /* border: 1px solid green; */
    
  